.game {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  /* align-items: center; */
  /* gap: 100px; */
}

.main {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.exit-btn {
  width: fit-content;
}

.top-right {
  display: flex;
  flex-direction: row;
}

.instructions {
  flex: 1;
}

.level-controls {
  flex: 3
}

.board {
  width: fit-content;
  display: grid;
  background: grey;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  -webkit-user-drag: none;
  user-select: none;
  border: none;
}

.space {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 2px #000000 inset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.blank {
  width: 95px;
  height: 95px;
}

.blank {
  background: grey;
  cursor: unset;

}

#cell-3-1.blank,
#cell-4-1.blank,
#cell-3-2.blank,
#cell-4-2.blank,
.space:has(#cell-3-1, #cell-3-2, #cell-4-1, #cell-4-2) {
  background: lightgray;
}

.rendering {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.smallSquare.origin {
  width: 100px;
  height: 100px;
}

.bigSquare.origin {
  width: 200px;
  height: 200px;
}

.horizontalRect.origin {
  width: 200px;
  height: 100px;
}

.verticalRect.origin {
  width: 100px;
  height: 200px;
}
